@model Microsoft.AspNetCore.Identity.IdentityUser

@{
    ViewData["Title"] = "Excluir Usuário";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-3">Excluir Usuário</h1>

<h3>Tem certeza que deseja excluir este usuário?</h3>
<div>
    <h4>IdentityUser</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Login (UserName)
        </dt>
        <dd class = "col-sm-10">
            @Model.UserName
        </dd>
        <dt class = "col-sm-2">
            Email
        </dt>
        <dd class = "col-sm-10">
            @Model.Email
        </dd>
        <dt class = "col-sm-2">
            Telefone
        </dt>
        <dd class = "col-sm-10">
            @Model.PhoneNumber
        </dd>
        <dt class = "col-sm-2">
            ID do Usuário
        </dt>
        <dd class = "col-sm-10">
            @Model.Id
        </dd>
        <dt class = "col-sm-2">
            Colaborador Associado
        </dt>
        <dd class = "col-sm-10">
            @(ViewBag.ColaboradorAssociado?.Nome ?? "N/A")
        </dd>
    </dl>

    <form asp-action="Delete" onsubmit="return confirmDelete(event)">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger"> |
        <a asp-action="Index" class="btn btn-secondary">Volgar para a Lista</a>
    </form>
</div>