@model IEnumerable<ProjetoPetMedDigital.Models.Procedimento>

@{
    ViewData["Title"] = "Procedimentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-4">Lista de Procedimentos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Novo Procedimento</a>
</p>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeProcedimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemEstoque)
            </th>
            @* REMOVIDO: Campo Id (BaseModel) *@
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProcedimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @(item.ItemEstoque?.NomeProduto)
            </td>
            @* REMOVIDO: Campo Id (BaseModel) *@
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProcedimento" class="btn btn-sm btn-info">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdProcedimento" class="btn btn-sm btn-secondary">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProcedimento" class="btn btn-sm btn-danger">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>