@model ProjetoPetMedDigital.Models.Valor

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Valor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorProcedimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorProcedimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPagamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoPagamento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorReceita)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorReceita)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorSaida)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorSaida)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompraProdutos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompraProdutos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servico)
        </dt>
        <dd class="col-sm-10">
            @(Model.Servico?.NomeServico) @* Exibe o nome do Servico, se existir *@
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class="col-sm-10">
            @(Model.Cliente?.NomeResponsavel) @* Exibe o nome do cliente, se existir *@
        </dd>
        @* REMOVIDO: Campo Id (BaseModel) *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdValor">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>