@model IEnumerable<ProjetoPetMedDigital.Models.Valor>

@{
    ViewData["Title"] = "Valores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-4">Lista de Valores</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Novo Valor</a>
</p>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ValorProcedimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorReceita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorSaida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompraProdutos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            @* REMOVIDO: Campo Id (BaseModel) *@
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ValorProcedimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorReceita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorSaida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompraProdutos)
            </td>
            <td>
                @(item.Servico?.NomeServico)
            </td>
            <td>
                @(item.Cliente?.NomeResponsavel)
            </td>
            @* REMOVIDO: Campo Id (BaseModel) *@
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdValor" class="btn btn-sm btn-info">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdValor" class="btn btn-sm btn-secondary">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdValor" class="btn btn-sm btn-danger">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>