@model IEnumerable<ProjetoPetMedDigital.Models.Veterinario>

@{
    ViewData["Title"] = "Veterinários";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-4">Lista de Veterinários</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Novo Veterinário</a>
</p>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeVeterinario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CadastroColaborador)
            </th>
            @* REMOVIDO: Campo Id (BaseModel) *@
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeVeterinario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @(item.CadastroColaborador?.Nome)
            </td>
            @* REMOVIDO: Campo Id (BaseModel) *@
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdVeterinario" class="btn btn-sm btn-info">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdVeterinario" class="btn btn-sm btn-secondary">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdVeterinario" class="btn btn-sm btn-danger">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>