@model IEnumerable<ProjetoPetMedDigital.Models.AgendaVeterinario>

@{
    ViewData["Title"] = "Agenda Veterinários";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-4">Agenda Veterinários</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nova Agenda</a>
</p>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Veterinario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente)
            </th>
            @* REMOVIDO: Campo Id (BaseModel) *@
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                @(item.Veterinario?.NomeVeterinario)
            </td>
            <td>
                @(item.Paciente?.NomeCachorro)
            </td>
            @* REMOVIDO: Campo Id (BaseModel) *@
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAgendaVeterinario" class="btn btn-sm btn-info">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdAgendaVeterinario" class="btn btn-sm btn-secondary">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAgendaVeterinario" class="btn btn-sm btn-danger">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>